include LICENSE
include README.md
include requirements.txt
recursive-include camera_pipeline *.py *.so *.dll
global-exclude *.py[cod] __pycache__ *.so *.dll *.dylib *.c *.h *.o *.a *.obj *.cmake *.make *.ts CMake* Makefile 